In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('Berlin_crimes.csv')
df.head()

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2019,Reinickendorf,123012,Nord 2 - Waidmannslust/Wittenau/Lübars,34,19,372,85,123,1160,30,135,150,93,16,3,306,74,110,728
1196,2019,Reinickendorf,123021,MV 1 - Märkisches Viertel,42,22,491,123,187,1100,51,224,76,40,39,19,286,11,73,986
1197,2019,Reinickendorf,123022,MV 2 - Rollbergsiedlung,6,4,84,19,34,293,13,36,18,34,5,2,156,56,21,212
1198,2019,Reinickendorf,123043,West 3 - Borsigwalde/Freie Scholle,8,4,95,18,43,492,21,96,69,38,6,1,79,8,31,218
1199,2019,Reinickendorf,129900,"Bezirk (Rd), nicht zuzuordnen",3,2,14,7,4,59,0,7,15,0,1,0,7,3,9,21

In [ ]:
df['nonviolent'] = df['Robbery'] + df['Street_robbery'] + df['Theft'] + df['Fire'] + df['Damage'] + df['Graffiti'] + df['Drugs'] + df['Local']
df['violent'] = df['Injury'] + df['Arson'] + df['Agg_assault'] + df['Threat']
df.to_csv('../fixtures/Berlin_crimes_prepared.csv')
df.head()

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,...,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local,nonviolent,violent
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,...,120,68,16,4,273,26,171,1032,3897,902
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,...,170,37,10,4,380,124,98,870,4779,743
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,...,822,275,49,27,1538,522,435,3108,15018,2326
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,...,396,131,14,5,428,122,213,752,3522,385
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,...,325,161,42,22,516,64,259,1403,4935,1035

In [ ]:
df2 = df.drop(['Robbery', 'Code', 'Street_robbery', 'Car', 'From_car', 'Bike', 'Burglary', 'Injury', 'Agg_assault', 'Threat', 'Theft', 'Fire', 'Damage', 'Graffiti', 'Drugs', 'Local', 'Arson'], axis=1)
df2 = df2.groupby(['Year', 'District']).sum()
df2 = df2.drop(['Location'], axis=1)
df2.head()

   Year District           Location  nonviolent  violent
0  2012    Mitte     Tiergarten Süd        3897      902
1  2012    Mitte  Regierungsviertel        4779      743
2  2012    Mitte     Alexanderplatz       15018     2326
3  2012    Mitte  Brunnenstraße Süd        3522      385
4  2012    Mitte        Moabit West        4935     1035

In [ ]:
df2.to_csv('../fixtures/Berlin_crimes_prepared_agg.csv')
df2

                                 nonviolent  violent
Year District
2012 Charlottenburg-Wilmersdorf       40968     6891
     Friedrichshain-Kreuzberg         43400     7254
     Lichtenberg                      23308     4012
     Marzahn-Hellersdorf              21180     4683
     Mitte                            65623    12665
...                                     ...      ...
2019 Reinickendorf                    19714     4410
     Spandau                          19311     4517
     Steglitz-Zehlendorf              20648     3180
     Tempelhof-Schöneberg             33006     5581
     Treptow-Köpenick                 21514     3983

[96 rows x 2 columns]